@charset "UTF-8";
H1 {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    color: #DDDA5A;
    background-image: url(pattern.jpg);
}
body {
    border: 12px solid yellow;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}
.subheading {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
    background-color: mediumspringgreen;
}
.subheading2 {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
    background-color: lightcoral;
}
.subheading3 {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 32px;
    background-color: skyblue;
}
